//License: Public Domain

.log-time {
        color: red;
}
 
.log-server {
        color: red;
	background: #BBBBBB;
}
 
.log-channel {
        color: green;
}
 
.log-target {
        color: #00B374;
}
 
.log-source {
        color: #0066FF;
}
 
.log-privilege {
    color: brown;
	background: red;
}

ServerView#qtwServers {
	qproperty-animated: true;
}

QDockWidget#qdwLog::minimumSize {
    width: 10;
}
